/* Heading style */
h1{
    color: crimson;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Paragrapgh style */
p{
    font-size: 18px;
    color: darkcyan;
    line-height: 1.6;
}

/* Link style */
a{
    color: purple;
    text-decoration:underline;
}